
/* Секции 1 */
.section-v1 {
	padding: 6rem 0;
}

.section-v1_1 {
	margin-bottom: 4rem;
}

.section-v1_1:last-child {
	margin-bottom: 0;
}

/* Для первых секций на внутр.страницах сразу под меню (заголовки) */
.start-sec {
	padding-top: 9.890rem;
	padding-bottom: 0;
}

.start-sec.v2 {
	padding-bottom: 6rem;
}

/* Относительные оступы вниз от заголовков */
.header-block.tog-underCont > .heading {
	margin-bottom: 1em;
}

.header-block.tog-underCont.v1 > .heading{
	margin-bottom: 1.3em;
}

.header-block.tog-underCont.v2 > .heading{
	margin-bottom: 2em;
}

/* Оступы вниз от опис.параграфа в заголовке */
.header-block__p.tog-underCont {
	margin-bottom: 5rem;
}

/* Оступы вниз от контента сеции */
.section__inner-content.tog-underElements {
	margin-bottom: 3rem;
}

.section__inner-content.tog-underElements.v2 {
	margin-bottom: 2rem;
}

.section__inner-content.tog-underElements.v3 {
	margin-bottom: 2.6rem;
}

@media screen and (max-width: 767px) {
	.section__inner-content.tog-underElements {
		margin-bottom: 2.5rem;
	}
}

@media screen and (max-width:979px) {
	.section-v1 {
		padding: 4.5rem 0;
	}
}
