.intro{
	height: 100vh;
	position: relative;
	padding: 0 7rem;
}

.intro__header {
	position: absolute;
	top: 24%;
	width: 60%;
}


.intro__header h1 {
	z-index: 400;
	font-size: 5.5rem;	
}

@media screen and (max-width: 1785px) {
	.intro__header {
		width: 64%;
	} 
}

@media screen and (max-width: 1674px) {
	.intro__header {
		width: 68.8%;
	} 

}

@media screen and (max-width: 1557px) {
	.intro__header {
		width: 73.9%;
	} 

}

@media screen and (max-width: 1449px) {
	.intro__header {
		width: 79.5%;
		top: 20%;
	} 

}

@media screen and (max-width: 1347px) {

	.intro{
		padding: 0 3rem;
	}

	.intro__header {
		width: 85.5%;

	} 

}

@media screen and (max-width: 1326px) {
	.intro__header {
		width: 80%;
	} 

}

@media screen and (max-width: 1255px) {
	.intro__header {
		width: 86%;
	} 

}

@media screen and (max-width: 1090px) {
	.intro__header {
		width: 92.4%;
	} 
}

@media screen and (max-width: 1090px) {
	.intro__header {
		width: 92%;
	} 
}


@media screen and (max-width: 1018px) {
	.intro__header {
		width: 81%;
	} 

	.intro__header h1 {
		font-size: 4.5rem;
	}
}


@media screen and (max-width: 879px) {
	.intro__header {
		width: 87.1%;
	} 
}


@media screen and (max-width: 817px) {
	.intro__header {
		width: 67%;
		box-sizing: border-box;
	} 
}


@media screen and (max-width: 543px) {

	.intro {
		height: 100vh;
		padding: 0 1.875em;
	}

	.intro__header {
		width: auto;
		top: 30%;
		position: relative;
	} 

	.intro__header h1 {
		font-size: 3.3rem;
		
	}
}


.parallax-elem {
	height: 100vh;
	width: 100%;
	position: absolute;
	box-sizing: border-box;
}

.parallax-elem__inner {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}


.parallax-elem__artist {
	position: absolute;
}

.parallax-elem__artist.c,
.parallax-elem__artist.d,
.parallax-elem__artist.l,
.parallax-elem__artist.o,
.parallax-elem__artist.p {
	z-index: 500;
}


.parallax-elem__artist.a {
	top: 14%;
	left: 18%;
	background: url(../img/parallax/a.png);
	background-size: contain;
	height: 3.813rem;
	width: 3.875rem;
}

.parallax-elem__artist.b {
	top: 17%;
	left: 50%;
	background: url(../img/parallax/b.png);
	background-size: contain;
	width: 6.188rem;
	height: 6.500rem;
}

.parallax-elem__artist.c {
	top: 21%;
	right: 10%;
	background: url(../img/parallax/c.png);
	background-size: contain;
	width: 8.250rem;
	height: 6.563rem;
}

.parallax-elem__artist.d {
	top: 60%;
	left: -4%;
	background: url(../img/parallax/d.png);
	background-size: contain;
	width: 23.125rem;
	height: 11.750rem;
}

.parallax-elem__artist.e {
	top: 66%;
	left: 30%;
	background: url(../img/parallax/e.png);
	background-size: contain;
	width: 3.063rem;
	height: 2.125rem;
}

.parallax-elem__artist.f {
	top: 56%;
	left: 48%;
	background: url(../img/parallax/f.png);
	background-size: contain;
	width: 5.250rem;
	height: 3.125rem;	
}

.parallax-elem__artist.g {
	top: 50%;
	right: 5%;
	background: url(../img/parallax/g.png);
	background-size: contain;
	width: 4.750rem;
	height: 2.625rem;	
}

.parallax-elem__artist.u {
	top: 85%;
	left: 24%;
	background: url(../img/parallax/u.png);
	background-size: contain;
	width: 8.125rem;
	height: 4.063rem;		
}

.parallax-elem__artist.k {
	top: 79%;
	left: 42%;
	background: url(../img/parallax/k.png);
	background-size: contain;
	width: 6.063rem;
	height: 2.438rem;		
}

.parallax-elem__artist.l {
	top: 65%;
	left: 63%;
	background: url(../img/parallax/l.png);
	background-size: contain;
	width: 6.500rem;
	height: 11.125rem;	
}

.parallax-elem__artist.o {
	top: 74%;
	right: 12%;
	background: url(../img/parallax/o.png);
	background-size: contain;
	width: 16.500rem;
	height: 5.063rem;		
}

.parallax-elem__artist.p {
	top: 73%;
	right: 0;
	background: url(../img/parallax/p.png);
	background-size: contain;
	width: 12.250rem;
	height: 17.938rem;	
}


@media screen and (max-width: 1600px) {
	.parallax-elem__artist.a,
	.parallax-elem__artist.b,
	.parallax-elem__artist.c,
	.parallax-elem__artist.d,
	.parallax-elem__artist.e,
	.parallax-elem__artist.f,
	.parallax-elem__artist.g,
	.parallax-elem__artist.u,
	.parallax-elem__artist.k,
	.parallax-elem__artist.l,
	.parallax-elem__artist.o,
	.parallax-elem__artist.p {
		width: 13.5rem;
		background-repeat: no-repeat;
	}

	.parallax-elem__artist.d {
		top: 70%;
		left: -5%;
		width: 18.75rem;
		height: 9.5rem;
	}

}

@media screen and (max-width: 1200px) {
	.parallax-elem__artist.a,
	.parallax-elem__artist.b,
	.parallax-elem__artist.c,
	.parallax-elem__artist.d,
	.parallax-elem__artist.e,
	.parallax-elem__artist.f,
	.parallax-elem__artist.g,
	.parallax-elem__artist.u,
	.parallax-elem__artist.k,
	.parallax-elem__artist.l,
	.parallax-elem__artist.o,
	.parallax-elem__artist.p {
		width: 12rem;
		background-repeat: no-repeat;
	}
}


@media screen and (max-width: 900px) {
	.parallax-elem__artist.a,
	.parallax-elem__artist.b,
	.parallax-elem__artist.c,
	.parallax-elem__artist.d,
	.parallax-elem__artist.e,
	.parallax-elem__artist.f,
	.parallax-elem__artist.g,
	.parallax-elem__artist.u,
	.parallax-elem__artist.k,
	.parallax-elem__artist.l,
	.parallax-elem__artist.o,
	.parallax-elem__artist.p {
		width: 9rem;
		background-repeat: no-repeat;
	}
}



@media screen and (max-width: 767px) {
	.parallax-elem__artist.a,
	.parallax-elem__artist.b,
	.parallax-elem__artist.c,
	.parallax-elem__artist.d,
	.parallax-elem__artist.e,
	.parallax-elem__artist.f,
	.parallax-elem__artist.g,
	.parallax-elem__artist.u,
	.parallax-elem__artist.k,
	.parallax-elem__artist.l,
	.parallax-elem__artist.o,
	.parallax-elem__artist.p {
		display: none;
	}
}



