.modal__wrapper {
	position: fixed;
	overflow-y: scroll;
	z-index: 9999;
	width: 60%;
	visibility: hidden;
	height: 100%;
	background-color: var(--grayColor-v1);
	right: -60%;
	transition: all 250ms ease-out;
}

.modal__wrapper.active {
	right: 0;
	visibility: visible;
}

.modal__inner {
	padding: 2.5rem 0;
}

.modal__body {
}

.modal__header {
	display: flex;
	justify-content: space-between;
	padding: 0 2rem;
}

.modal__close {
}

.modal__close svg{
	height: 1.5rem;
	cursor: pointer;
	transition: all 250ms ease-out;	
}

.modal__close svg:hover{
	fill: var(--pinkColor);
}

.modal__content {

}	

.modal__blur {
	background-color: rgba(255, 255, 255, .8);
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 9980;
	visibility: hidden;
	opacity: 0;
	transition: all 250ms ease-out;
}

.modal__blur.active {
	opacity: 1;
	visibility: visible;
}

@media screen and (max-width: 767px) {
	.modal__wrapper {
		width: 100%;
		right: -100%;		
	}	
}


/** Модальный алерт **/

.modal--alert__wrapper {
	position: fixed;
	z-index: 9999;
	top: 28%;
	width: 35rem;
	margin: 0 auto;
	right: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 250ms ease-out;
	background-image: url("../img/hldinaction.gif");
	background-size: cover;
	color: var(--whiteColor);
}

.modal--alert__inner {
	padding: 2rem 3rem;
	box-sizing: border-box;
}

.modal--alert__wrapper.active {
	visibility: visible;
	opacity: 1;
}

@media screen and (max-width: 430px) {
	.modal--alert__wrapper {
		width: 100%;
	}
}