/*** Плитка ***/

.tiles-wrap {
	display: flex;
	flex-wrap: wrap;
	position: relative;
    box-sizing: border-box;
    margin-left: -1rem;
    margin-right: -1rem;
}

.tiles-wrap__tile {
	position: relative;
	width: calc((100% / 3) - 2em);
	padding-bottom: 25%; 
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 2rem;
	margin-top: 0;
	display: block;
}

.tiles-wrap__tile-inner {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    overflow: hidden;
}

.tiles-wrap__bg {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: -webkit-transform 6s cubic-bezier(0.1, -0.6, 0.2, 0);
    transition: transform 6s cubic-bezier(0.1, -0.6, 0.2, 0);
    transition: transform 6s cubic-bezier(0.1, -0.6, 0.2, 0),
    -webkit-transform 6s cubic-bezier(0.1, -0.6, 0.2, 0);
}

.tiles-wrap__tile-inner:hover .tiles-wrap__bg{
	-webkit-transform: scale(1.01);
    transform: scale(1.01);
    transition: -webkit-transform 20s cubic-bezier(0,1,.35,1);
    transition: transform 20s cubic-bezier(0,1,.35,1);
    transition: transform 20s cubic-bezier(0,1,.35,1),
    -webkit-transform 20s cubic-bezier(0,1,.35,1);
}

.tile-inner__overlay {
	height: 100%; 
	width: 100%;
	position: absolute;
	transition: all .6s cubic-bezier(.19,1,.22,1);
	z-index: 2;
}

.tile-inner__overlay:hover {
	background: rgba(0, 0, 0, .4);
}

.tile-content {
	position: absolute;
	left: 0;
	top: 0;
	padding: 4em;
	opacity: 0;	
	transition: all .6s cubic-bezier(.19,1,.22,1);
	-webkit-transform: translateY(20%);
    transform: translateY(20%);	
    color: var(--whiteColor);
}

.tile-content h5 {
	margin-bottom: .5em;
}

.tile-inner__overlay:hover .tile-content {
	opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);	
}


@media (max-width: 1365px) {

	.tiles-wrap .tiles-wrap__tile {
		width: calc((100% / 2) - 2em);
		padding-bottom: 35%;
	}
}

@media (max-width: 696px) {

	.tiles-wrap {
		margin-left: 0;
		margin-right: 0;
	}

	.tiles-wrap .tiles-wrap__tile {
		width: 100%;
		padding-bottom: 70%;
		margin: 0;
	}
}


/*** Страница кейса ***/


/** Шапка **/
.case-intro {
	color: var(--whiteColor);
}

.case-intro__client-info-left {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.case-intro__client-info-right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.case-intro__block-inner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 40%;
}

.case-intro__client-info-right >
.case-intro__block-inner {
	width: 80%;
}

.case-intro__logo {
	height: 14rem;
	width: 14rem;
	/*margin-bottom: 1.5em;*/
	background-repeat: no-repeat; 
	/*background-position: center center;*/
	background-size: contain;
}

.case-intro__desc-block {
	display: flex;
	margin-bottom: 3rem;
}

.case-intro__desc-block:last-child {
	margin-bottom: 0;
}

.case-intro__desc-block > .desc-header {
	margin-right: 3rem;
}

.case-intro__desc-block > .desc-text > div {
	margin-bottom: 2.5rem;
}

@media screen and (max-width: 1200px) {
	.case-intro__block-inner {
		width: 100%;
	}

	.case-intro__client-info-right >
	.case-intro__block-inner {
		width: 100%;
	}
}


@media screen and (max-width: 767px) {
	.case-intro__client-info-left {
		margin-bottom: 3rem;
	}

	.case-intro__logo {
		background-position: center center;
	}
}


/** Содержание **/

.case-fifty {
	display: flex;
	background-color: #f2f2f2;
	flex-wrap: wrap;
}

.case-fifty.reverse {
	flex-direction: row-reverse;
}

.case-fifty div {
	width: calc((100% / 2));
}

.case-fifty__text {
	padding-left: 5rem;
	padding-right: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
}

.case-fifty__img {
	min-height: 30rem;
	flex: 1 0 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.case-img-v1 img{
	width: 100%;
	display: block;
}

.case-img-v2 div{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	padding-bottom: 47%; 
}


@media screen and (max-width: 767px) {

	.case-fifty {
		background: none;
	}

	.case-fifty + .case-fifty {
		margin-top: 5rem;
	}

	.case-fifty div {
		width: 100%;
	}

	.case-fifty__text {
		padding-left: 2rem;
		padding-right: 0;
		margin-bottom: 3.5rem;
	}

	.case-fifty__img {
		flex: auto; 
	}

	.case-img-v2 div{
		padding-bottom: 65%; 
	}	
}